.InfoBox{
    color: white;
    border: white solid 2px;
    position: fixed;
    width: 60%;
    min-height: 70%;
    
    background-color: black;
    top: 15%;
    left: 20%;
}

.InfoBoxHidden{
    display: none;
}

.infoLogo:hover{
    cursor: pointer;
}

.infoboxArticle{

    padding: 7% 3% 3% 3%;
    font-size: 1.1em;
}