.main {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


.nftGallery{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  
}

.loreWrapper{
  margin-top: 10%;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nftImage{
  margin: 1%;
}