.navWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  padding-right: 2%;
  padding-top: 1%;
}

.mintTag:hover{
  cursor: pointer;
}


.main {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  min-height: 100vh;
}


.nftGallery{
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;
  
}

.loreWrapper{
  margin-top: 10%;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loreHeaderH2{
  padding-bottom: 6%;
  font-size: 2em;
}

.nftImage{
  margin: 3%;
}